## `Social Media Analysis`

### `import libraries`

In [1]:
import pandas as pd
import numpy as np

### `Load Data`

In [5]:
df= pd.read_csv("C:\\Users\\ElQaiaty Store\\Downloads\\social_media_data.csv")
df.head()

         date   platform post_type   likes  shares  comments   views
0  2023-05-24    Twitter     image   868.0   238.0     352.0  8836.0
1  2023-02-23    Twitter     image   944.0   610.0     146.0  5554.0
2  2023-03-18  Instagram     image  1067.0   858.0     365.0  4018.0
3  2023-06-12    Twitter      text   780.0   427.0     100.0  6999.0
4  2023-02-03  Instagram      text   836.0   893.0     443.0  5802.0

In [41]:
df['platform'].unique()

array(['Twitter', 'Instagram', 'Facebook', 'NonExistingPlatform'],
      dtype=object)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       2000 non-null   object
 1   platform   2000 non-null   object
 2   post_type  2000 non-null   object
 3   likes      1992 non-null   float64
 4   shares     1992 non-null   float64
 5   comments   1992 non-null   float64
 6   views      1990 non-null   float64
dtypes: float64(4), object(3)
memory usage: 109.5+ KB

## Dataset

The dataset contains the following columns:

- `date`: The date of the post (in YYYY-MM-DD format).
- `platform`: The social media platform where the post was made.
- `post_type`: The type of the post.
- `likes`: The number of likes the post received.
- `shares`: The number of shares the post received.
- `comments`: The number of comments on the post.
- `views`: The number of views the post received.

### `Distinguishing Attribute`

In [7]:
df.describe()

             likes       shares     comments        views
count  1992.000000  1992.000000  1992.000000  1990.000000
mean   1289.795181   497.286647   305.847892  6966.834673
std     525.123426   229.809511   114.761598  1724.795879
min     400.000000   100.000000   100.000000  4000.000000
25%     820.000000   300.000000   206.000000  5507.000000
50%    1292.000000   491.000000   310.500000  6947.000000
75%    1753.250000   688.000000   407.000000  8398.250000
max    2200.000000   900.000000   500.000000  9998.000000

### `Data Cleaning`

In [8]:
df.isna().sum()

date          0
platform      0
post_type     0
likes         8
shares        8
comments      8
views        10
dtype: int64

In [9]:
len(df)

2000

In [10]:
df.isna().sum() * 100 / len(df)

date         0.0
platform     0.0
post_type    0.0
likes        0.4
shares       0.4
comments     0.4
views        0.5
dtype: float64

In [12]:
df = df.dropna()

In [13]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1995    False
1996    False
1997    False
1998    False
1999    False
Length: 1967, dtype: bool

In [14]:
df['date'] = pd.to_datetime(df['date'])

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1967 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       1967 non-null   datetime64[ns]
 1   platform   1967 non-null   object
 2   post_type  1967 non-null   object
 3   likes      1967 non-null   float64
 4   shares     1967 non-null   float64
 5   comments   1967 non-null   float64
 6   views      1967 non-null   float64
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 122.9+ KB

In [20]:
df.columns.str.lower().str.strip()

Index(['date', 'platform', 'post_type', 'likes', 'shares', 'comments', 'views',
       'year'],
      dtype='object')

### `EDA`

1. What was the total number of likes, shares, comments, and views (for videos) over the year?

In [17]:
df['date'].unique()

<DatetimeArray>
['2023-05-24 00:00:00', '2023-02-23 00:00:00', '2023-03-18 00:00:00',
 '2023-06-12 00:00:00', '2023-02-03 00:00:00', '2022-12-28 00:00:00',
 '2022-12-22 00:00:00', '2022-11-18 00:00:00', '2023-03-26 00:00:00',
 '2023-09-17 00:00:00',
 ...
 '2023-02-21 00:00:00', '2022-10-18 00:00:00', '2022-11-30 00:00:00',
 '2022-11-25 00:00:00', '2023-03-16 00:00:00', '2022-11-21 00:00:00',
 '2023-06-04 00:00:00', '2022-10-29 00:00:00', '2023-09-27 00:00:00',
 '2023-05-17 00:00:00']
Length: 365, dtype: datetime64[ns]

In [18]:
df['year'] = df['date'].dt.year

In [19]:
df

           date   platform post_type   likes  shares  comments   views  year
0    2023-05-24    Twitter     image   868.0   238.0     352.0  8836.0  2023
1    2023-02-23    Twitter     image   944.0   610.0     146.0  5554.0  2023
2    2023-03-18  Instagram     image  1067.0   858.0     365.0  4018.0  2023
3    2023-06-12    Twitter      text   780.0   427.0     100.0  6999.0  2023
4    2023-02-03  Instagram      text   836.0   893.0     443.0  5802.0  2023
...         ...        ...       ...     ...     ...       ...     ...   ...
1995 2023-01-15   Facebook     video  2039.0   523.0     371.0  4780.0  2023
1996 2022-11-13    Twitter     image  1652.0   891.0     410.0  8741.0  2022
1997 2023-09-18    Twitter     video   528.0   207.0     341.0  6588.0  2023
1998 2023-04-23   Facebook     video  1288.0   893.0     328.0  8349.0  2023
1999 2023-08-13    Twitter     image   835.0   532.0     424.0  9236.0  2023

[1967 rows x 8 columns]

In [21]:
df.groupby('year')[['likes','shares','comments','views']].sum()

          likes    shares  comments       views
year
2022   569525.0  233235.0  136135.0   3133392.0
2023  1968633.0  745939.0  464225.0  10563311.0

2. Which platform had the highest engagement? (engagement = likes + shares + comments)

In [26]:
df['engagement'] = df[['likes', 'shares', 'comments']].sum(axis=1)

In [27]:
df

,date,platform,post_type,likes,shares,comments,views,year,engagement
0,2023-05-24,Twitter,image,868.0,238.0,352.0,8836.0,2023,1458.0
1,2023-02-23,Twitter,image,944.0,610.0,146.0,5554.0,2023,1700.0
2,2023-03-18,Instagram,image,1067.0,858.0,365.0,4018.0,2023,2290.0
3,2023-06-12,Twitter,text,780.0,427.0,100.0,6999.0,2023,1307.0
4,2023-02-03,Instagram,text,836.0,893.0,443.0,5802.0,2023,2172.0
...,...,...,...,...,...,...,...,...,...
1995,2023-01-15,Facebook,video,2039.0,523.0,371.0,4780.0,2023,2933.0
1996,2022-11-13,Twitter,image,1652.0,891.0,410.0,8741.0,2022,2953.0
1997,2023-09-18,Twitter,video,528.0,207.0,341.0,6588.0,2023,1076.0
1998,2023-04-23,Facebook,video,1288.0,893.0,328.0,8349.0,2023,2509.0
1999,2023-08-13,Twitter,image,835.0,532.0,424.0,9236.0,2023,1791.0

In [30]:
df['engagement'].max()

np.float64(3449.0)

In [32]:
df[df['engagement'] == df['engagement'].max()][['platform','engagement']]

     platform  engagement
883  Facebook      3449.0

3. What was the average number of likes, shares, comments, and views per post on each platform?

In [39]:
df.groupby(['platform','post_type'])[['likes','comments','shares']].mean()

                                     likes    comments      shares
platform            post_type
Facebook            image      1269.254630  306.453704  502.583333
                    text       1334.940299  318.069652  543.726368
                    video      1263.346535  307.811881  496.371287
Instagram           image      1264.121673  301.357414  489.859316
                    text       1343.828283  300.651515  497.853535
                    video      1336.221675  297.039409  505.635468
NonExistingPlatform image      1277.000000  195.000000  535.000000
                    text        771.333333  360.333333  453.333333
                    video      1655.000000  218.500000  600.000000
Twitter             image      1269.689516  313.004032  490.887097
                    text       1291.126168  289.247664  482.341121
                    video      1262.037037  313.583333  476.629630

4. What was the total number of each type of post (video, image, text) on each platform?

In [40]:
df.groupby('platform')['post_type'].value_counts()

platform             post_type
Facebook             image        216
                     video        202
                     text         201
Instagram            image        263
                     video        203
                     text         198
NonExistingPlatform  text           3
                     video          2
                     image          1
Twitter              image        248
                     video        216
                     text         214
Name: count, dtype: int64

5. Which type of post had the highest average engagement?

In [56]:
df.groupby('post_type')['engagement'].mean().reset_index().sort_values(by= 'engagement' ,ascending=False)

  post_type   engagement
1      text  2129.711039
2     video  2086.789727
0     image  2068.296703

6. What was the total engagement in each quarter of the year?

In [43]:
df['quarter'] = df['date'].dt.to_period('Q')

In [45]:
df.groupby('quarter')['engagement'].sum().reset_index()

  quarter  engagement
0  2022Q4    938895.0
1  2023Q1   1022540.0
2  2023Q2    994332.0
3  2023Q3    972717.0
4  2023Q4    189208.0